@media screen and (max-width: 1000px) {
  .nav-ul,
  .arrow-1,
  .lets-chat {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .menu-dropdown {
    background-image: url(./Background/background-bottom-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .vertical-lines-desktop {
    display: none;
  }

  .divClass {
    min-height: 90vh;
  }
}
